{
    "Email": "Your Ingress Account Email",
    "Passwd": "Your Ingress Account Password",
    "BOT_TOKEN": "Your Telegram Bot Token",
    "CHANNEL_NAME": "Your Channel ID",
    "PhantomJSPath": "/usr/local/phantomjs/bin/phantomjs",
    "DBName": "",
    "DBUser": "",
    "DBPass": "",
    "DBHost": "ip:port",
    "BlockList": "",
    "minLngE6": 119618783,
    "minLatE6": 29912919,
    "maxLngE6": 121018722,
    "maxLatE6": 30573739
}
