{
    "Email": "Your Ingress Account Email",
    "Passwd": "Your Ingress Account Password",
    "BOT_TOKEN": "Your Telegram Bot Token",
    "CHANNEL_NAME": "Your Channel ID",
    "PhantomJSPath": "/usr/local/phantomjs/bin/phantomjs",
    "DBName": "",
    "DBUser": "",
    "DBPass": "",
    "DBHost": "ip:port",
    "BlockList": ""
}
